/* .App {
  background-color: rgb(243, 242, 237);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.components {
  width: 95%;
  height: 90vh;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
} */
