@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
:root {
  --bg-color: rgba(0, 0, 0, 0.76);
  --main-font-color: rgb(255, 255, 255);
  --secondary-font-color: rgb(212, 212, 212);
  --icons-color: rgb(161, 125, 15);
  --font-primary: 'Zen Antique', serif;
  --font-size-primary: 35px;
  --font-size-secundary: 23px;
  --font-size-parag: 18px;
}


body {
  margin: 0;
  font-family: var(--font-primary);
  width:100%;
  background-color: black;
}
