@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
  --bg-color: rgb(49, 89, 148);
  --main-font-color: rgb(255, 255, 255);
  --secondary-font-color: rgb(212, 212, 212);
  --font-primary: 'Montserrat', sans-serif;
  --font-size-primary: 32px;
  --font-size-secundary: 22px;
  --font-size-parag: 18px;
}


body {
  margin: 0;
  font-family: var(--font-primary);
}
