button {
  border-radius: 18px;
  background-color: #a17d0f;
  border: none;
  color: var(--main-font-color);
  font-size: 20px;
  padding: 9px;
  width: 190px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


button:hover {
  background-color: #ad9403;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
}